@charset "utf-8";
/* CSS Document */

/* ====================== Global ====================== */
* {
  box-sizing: border-box;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.inside header {
  max-width: 1200px;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

.container {
	display: -webkit-flex;
	display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
}

section {
	width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
/* Skip link properties and values are a by-product of https://webaim.org/techniques/css/invisiblecontent/ */
#skip-link a {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}

#skip-link a:focus {
position: static;
width: auto;
height: auto;
}

nav#main-nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
	display: flex;
}

nav#main-nav h1 {
  margin: auto;
}

nav#main-nav h1 a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#breadcrumb {
  width: 100%;
  background-color: #eee;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    font-size: 17px;
    margin: 0;
		width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
.leaflet-top, .leaflet-bottom {
  z-index: 999; /* Originally set to 1000 and would go over header with scroll */
}

#map-container {
	width: 100%;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
	padding: 30px 0;
}

.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
	margin-left: 30px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
	margin-left: 30px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px;
  text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px 30px;
  text-align: left;
	border-radius: 30px 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
	height: auto;
	border-radius: 30px 0;
}

#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.5em;
}

#restaurants-list li a, #review-form .btn {
  background-color: #ffa500;
  color: #fff;
  display: inline-block;
  font-size: 1.3em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	transition: background-color 0.5s ease;
}

#restaurants-list li a:hover, #review-form .btn:hover {
	background-color: #db781c;
}

/* ====================== Restaurant Favorite Button ====================== */
.fav-btn {
  margin-bottom: 10px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  border: none;
  color: #d4d4d4;
}

.fav_yum {
  color: #dc4c4c;
  font-size: 30px;
}

.fav_yum:hover {
  color: #d4d4d4;
  font-size: 25px;
}

.fav_notyum {
  color: #d4d4d4;
}

.fav_notyum:hover {
  color: #dc4c4c;
  font-size: 30px;
}

/* ====================== Restaurant Details ====================== */
#restaurant-description-map {
  width: 100%;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map {
	margin-top: 11em;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
	max-width: 100%;
	border-radius: 30px 0 0;
}

#restaurant-address {
  font-size: 1.6em;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
	border-radius: 0 0 30px;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 30px 40px 30px;
  width: auto;
}

#reviews-container {
  padding: 30px 40px 0;
}

#reviews-container h2, .review-form-container h2 {
  color: #f58500;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 1.5em 0;
  overflow: hidden;
  position: relative;
	border-radius: 30px 0;
}

#reviews-list div {
	width: 100%;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #252831;
}

#reviews-list li p {
  margin: 0 0 10px;
	font-size: 1.5em;
	padding: 0 20px 20px;
}

#restaurant-hours td {
  color: #666;
	font-size: 1.5em;
}

#reviews-list .review-name, #reviews-list .review-date {
	color: #fff;
	padding: 0 20px;
	margin: 0;
}

#reviews-list .review-name {
	font-size: 2em;
}

#reviews-list .review-date {
	margin-left: auto;
	color: #ddd;
}

#reviews-list .review-rating {
	margin-top: 1.5em;
	margin-left: 1.3em;
	padding: 0.4em;
	width: 7em;
	background: #777;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

/* ====================== Restaurant Review Form ====================== */
.review-form-container {
  padding: 30px 40px;
  order: 2;
  width: 100%;
}

#review-form label {
  font-size: 1.5em;
}

.name.field input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.rating.field input {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.review.field textarea {
  width: 100%;
  resize: none;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

#review-rating {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* ====================== TABLET TO DESKTOP ====================== */
@media only screen and (min-width: 768px) {
	#restaurants-list li, #reviews-list li {
		/* width: calc(50% - 30px); */
		/* margin: 1.5em; */
	}
  #reviews-container h2 {
    /* padding-left: 15px; */
  }
}

@media only screen and (min-width: 880px) {
  #restaurant-container {
    width: 100%;
  }
	#restaurant-img {
		width: 100%;
    height: auto;
    object-fit: cover;
	}
  #restaurant-description-map {
    display: flex;
    flex-direction: row;
    margin-top: 130px;
  }
  #restaurant-container {
    order: -1;
  }
  #restaurant-container, #reviews-container {
    border-bottom: none;
  }
  #restaurant-description-map #map-container {
    margin-top: 53px;
    padding: 30px 40px 30px 20px;
  }
  #restaurant-container {
    padding: 30px 20px 30px 40px;
  }
  .inside #restaurant-description-map #map {
    margin-top: 0;
  }
  #restaurant-description-map #map {
    position: relative;
    padding: 315px 0;
  }
  .review-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
  }
  .review-form-container {
    padding: 30px 20px 30px 40px;
    width: 40%;
    order: 0;
  }
  #reviews-container {
    padding: 30px 40px 30px 20px;
  }
  .reviews-container {
    width: 60%;
  }
}

/* @media only screen and (min-width: 1042px) {
  .review-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
  }
  .review-form-container {
    padding: 30px 20px 30px 40px;
    width: 40%;
    order: 0;
  }
  #reviews-container {
    padding: 30px 40px 30px 20px;
  }
  .reviews-container {
    width: 60%;
  }
} */

@media only screen and (min-width: 1081px) {
  #restaurants-list li/*, #reviews-list li*/ {
		width: calc(33% - 30px);
	}
}
